/* reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Helvetica Neue",Helvetica,Arial;
    scroll-behavior: smooth;
}

/* common */
.text-white {
    color: #fff !important;
}

.text-center {
    text-align: center !important;
}

.mt-8 {
    margin-top: 8px;
}

.mt-16 {
    margin-top: 16px;
}

.mt-32 {
    margin-top: 32px;
}

.float-right {
    float: right;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-full {
    width: 100%;
}

.col-2 {
    width: 50%;
}

.col-3 {
    width: 33.333333%;
}

.btn {
    background-color: #000;
    border: none;
    color: #fff;
    padding: 10px 16px;
    margin-top: 16px;
    font-size: 15px;
}

.btn:hover {
    background-color: #ccc;
    color: #000;
}

/* main */
#main {
    
}

#header {
    position: fixed;
    background-color: #000;
    height: 45px;
    width: 100%;
    top: 0;
    z-index: 1;
}

#nav {
    display: inline-block;
}

#nav, .sub-nav {
    list-style: none;
}

#nav > li {
    position: relative;
    display: inline-block;
}

#nav > li > a {
    color: #fff;
    text-transform: uppercase;
} 

#nav li a {
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}

#nav li:hover .sub-nav {
    display: block;
}

#nav > li:hover > a,
#nav .sub-nav li:hover a {
    background-color: #ccc;
    color: #000;
}

#nav .sub-nav {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    top: 100%;
    left: 0;
}

#nav .sub-nav a {
    color: #000;
    line-height: 38px;
    min-width: 160px;
    padding-left: 12px;
}

#nav .nav-arrow-down-ic {
    font-size: 12px;
    font-weight: bold;
}

#header .mobile-menu-btn {
    display: none;
}

#header .mobile-menu-btn,
#header .search-btn {
    float: right;
    padding: 0 20px;
}

#header .search-btn:hover {
    background-color: #f44336;
    cursor: pointer;
}

#header .mobile-menu-btn:hover {
    background-color: #ccc;
    cursor: pointer;
    color: #000;
}

#header .mobile-menu-btn:hover .menu-icon{
    color: #000;
}

#header .menu-icon,
#header .search-icon {
    color: #fff;
    line-height: 45px;
    font-weight: bold;
}

#slider {
    position: relative;
    margin-top: 45px;
    padding-top: 50%;
    background: url("../img/slider/slider1.jpg") top center / cover no-repeat;
}

#slider .text-content {
    position: absolute;
    color: #fff;
    bottom: 48px;
    text-align: center;
    width: 100%;
}

#slider .text-heading {
    font-size: 24px;
    font-weight: 500;
    text-shadow: 0 0 1px #000;
}

#slider .text-description {
    font-size: 15px;
    margin-top: 16px;
}


#content {

}

#content .content-section {
    width: 800px;
    max-width: 100%;
    margin: 0 auto;
    padding: 64px 16px 112px;
}

#content .section-heading {
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 3.5px;
    text-align: center;
}

#content .section-sub-heading {
    font-style: italic;
    font-size: 15px;
    opacity: 0.6;
    margin-top: 16px;
    text-align: center;
}

#content .about-description {
    text-align: justify;
    font-size: 15px;
    line-height: 1.4;
    margin-top: 16px;
}

#content .member-list {
    margin-top: 16px;
}

#content .member-name {
    font-size: 15px;
}

#content .member-img {
    width: 60%;
    border-radius: 4px;
    margin-top: 16px;
}

/* tour section */
#content .tour-section {
    background-color: #000;
}

.tickets-list {
    background-color: #fff;
    font-size: 15px;
    margin-top: 36px;
    list-style: none;
}
.tickets-list li {
    padding: 11px 16px;
    color: #757575;
    border-bottom: 1px solid #ddd;
}

.tickets-list .sold-out {
    background-color: #f44336;
    color: #fff;
    padding: 3px 8px;
    margin-left: 16px;
}

.tickets-list .quantity {
    background-color: #000;
    color: #fff;
    padding: 3px 8px;
    border-radius: 50%;
    float: right;
    margin-top: -3px;
}

/* place */

.place-list {
    margin-top: 20px;
}

.place-img {
    width: 100%;
    display: block;
}

.place-img:hover {
    opacity: 0.7;
}

.place-body {
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
}

.place-heading {
    font-size: 15px;
    font-weight: 600;
}

.place-subheading {
    margin-top: 16px;
    opacity: 0.6;
}

.place-desciption {
    margin-top: 16px;
    line-height: 1.4;
}

/* Contact section */
.contact-content {
    margin-top: 48px;
}

.contact-info {
    font-size: 18px;
    line-height: 1.4;
}

.contact-info i {
    width: 30px;
    display: inline-block;
}

.contact-info a {
    color: #101aef;
    opacity: 0.8;
}

.contact-info a:hover {
    opacity: 1;
}

.contact-form {
    font-size: 15px;
}

.contact-form .form-control {
    width: 100%;
    padding: 9px;
    border: 1px solid #ccc;
}

/* map section */
.map-section img {
    width: 100%;
    display: block;
}

/* Footer */
#footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 64px 0;
    color: rgba(0, 0, 0, 0.6);
}

.social-list {
    font-size: 24px;
    margin-bottom: 15px;
}

.social-list i {
    color: rgba(0, 0, 0, 0.6);
}

.text-footer a:hover,
.social-list i:hover {
    opacity: 0.6;
}

.text-footer {
    font-size: 15px;
}

.text-footer a {
    color: rgba(0, 0, 0, 0.6);
}

