:root {
    --main-color: #ff4e5b;
    --dark-color: #666;
    --light-color: #999;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    transition: all .3s cubic-bezier(.4,.8,.6,1.5);
}

html {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body {
    background-color: #f9f9f9;
}

/* common */
.btn {
    color: #fff;
    padding: 10px 40px;
    border-radius: 50px;
    background-color: var(--main-color);
    display: inline-block;
    margin-top: 10px;
    font-size: 2rem;
}

.btn:hover {
    background-color: #444;
    transition: 0.3s linear;
}

.text-white {
    color: #fff !important;
}

/* main */
#main {
    overflow: hidden;
}

#header {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 7%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

#header .logo {
    font-size: 2.5rem;
    color: var(--dark-color);
}

#header .logo i {
    color: var(--main-color);
}

#nav {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

#nav li { 
    margin: 0 12px;
}

#nav li a {
    font-size: 2.2rem;
    color: var(--light-color);
}

#nav li a:hover {
    color: var(--main-color);
    padding: 4px;
    border: 2px solid var(--main-color);
    border-radius: 8px;
}

#header .menu-icon i {
    font-size: 2.5rem;
    color: var(--light-color);
    cursor: pointer;
    display: none;
}

#header .overlay {
    position: fixed;
    top: 7.5rem;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(252, 248, 248, 0.1);
    display: none;
}

#header .nav-input:checked ~ .overlay {
    display: block;
}

#header .nav-input:checked ~ #nav-hidden {
    transform: translateX(0%);
}

#nav-hidden {
    position: fixed;
    top: 9rem;
    right: 2rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    list-style: none;
    background-color: rgba(255, 255, 255, 0.000001);
    padding: 10px;
    border-radius: 10px;
    transform: translateX(110%);
}

#nav-hidden li {
    background-color: #fff;
    text-align: left;
    width: 100%;
    border-radius: 5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    margin: 1rem 0;
}

#nav-hidden li a {
    font-size: 2rem;
    color: var(--light-color);
    display: block;
    padding: 10px;
}

#nav-hidden li a:hover {
    background-color: var(--main-color);
    color: #fff;
    border: none;
    outline: none;
    border-radius: 5rem;
    box-shadow: 0 0 .5rem var(--main-color);
}

#content {

}

/* Home */
.home-section {
    padding: 9rem 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.home-content {
    flex: 1;
}

.home-content span {
    color: var(--main-color);
    font-size: 2.5rem;
}

.home-content h3 {
    font-size: 5rem;
    color: var(--dark-color);
}

.home-content p {
    font-size: 2rem;
    color: var(--light-color);
    padding: 10px 0;
    line-height: 1.5;
}

.home-img {
    flex: 1;
}

.home-img img {
    width: 100%;
}

/* protect */
.content-section {
    padding: 9rem 7%;
}

.heading-section {
    font-size: 30px;
    text-align: center;
    padding: 10px;
    color: var(--dark-color);
    text-transform: capitalize;
}

.heading-section span {
    font-size: 30px;
    color: var(--main-color);
}

.list-protect {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.item-protect {
    text-align: center;
    background-color: #fff;
    padding: 2rem;
    margin: 2rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.item-protect img {
    width: 17rem;
    height: 17rem;
}

.item-protect:hover {
    transform: translateY(-1rem);
}

.protect-heading {
    font-size: 2.5rem;
    color: var(--dark-color);
    padding: 10px 0;
}

.protect-desc {
    font-size: 2rem;
    color: var(--light-color);
    line-height: 1.5;
    width: 35rem;
}

/* symptoms */
.symptoms-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.symptoms-content {
    flex: 1;
}

.symptoms-content h3 {
    font-size: 2.5rem;
    color: var(--dark-color);
    text-transform: capitalize;
}

.symptoms-content h3 span {
    color: var(--main-color);
}

.symptoms-content p {
    font-size: 2rem;
    color: var(--light-color);
    padding: 10px 10px 10px 0;
    line-height: 1.5;
}

.list-symptoms {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    color: var(--dark-color);
    height: 10rem;
}

.list-symptoms li {
    margin-left: 2rem;
    font-size: 1.8rem;
    line-height: 1.5;
}

.symptoms-img {
    flex: 1;
}

.symptoms-img img {
    width: 100%;
}

/* prevent */
.dark-background {
    background-color: #444;
}

.prevent-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.prevent-content {
    flex: 1;
}

.prevent-content h3 {
    font-size: 2.5rem;
    color: #fff;
    text-transform: capitalize;
}

.prevent-content h3 span {
    color: var(--main-color);
}

.prevent-content p {
    font-size: 2rem;
    color: #aaa;
    padding: 10px 10px 10px 0;
    line-height: 1.9;
}

.list-prevent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    color: #aaa;
    padding-bottom: 1rem;
}

.list-prevent li {
    margin-left: 2rem;
    font-size: 1.8rem;
    line-height: 1.6;
}

.prevent-img {
    flex: 1;
    height: 35rem;
}

.prevent-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* handwash */
.list-handwash {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.item-handwash {
    position: relative;
    background-color: #fff;
    padding: 2rem 3rem;
    margin: 2rem;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.4rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

.item-handwash:hover {
    transform: translateY(-0.5rem);
}

.item-handwash span {
    width: 5rem;
    height: 5rem;
    background-color: var(--main-color);
    border-radius: 5rem;
    color: #fff;
    font-size: 2rem;
    display: block;
    line-height: 5rem;
    position: absolute;
    top: -2rem;
    left: -2rem;
}

.item-handwash img {
    width: 17rem;
    height: 17rem;
}

.item-handwash .handwash-heading {
    font-size: 2.5rem;
    color: var(--dark-color);
    padding: 1rem 0;
    text-transform: capitalize;
}

/* status */
.img-map img {
    width: 100%;
}

/* footer */
#footer {
    background-color: #444;
    padding: 0 7%;
}

.list-footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 -2rem;
}

.item-footer {
    flex: 1 1 25rem;
    font-size: 2rem;
    color: #aaa;
    padding: 2rem;
}

.item-footer h3 {
    font-size: 2.5rem;
    color: #fff;
    padding-bottom: 1rem;
    border-bottom: 0.1rem solid #aaa;
}

.item-footer p {
    line-height: 1.5;
    padding: 1rem 0;
}

.item-footer ul {
    list-style: none;
}

.item-footer ul li {
    padding: 1rem 0;
}

.item-footer ul li i {
    color: var(--main-color);
    padding-right: 1rem;
}

.social-icon {
    border-top: 0.1rem solid #aaa;
    display: flex;
    justify-content: center;
    padding: 2rem 0;
}

.social-icon a {
    font-size: 2rem;
    color: #aaa;
    background-color: #444;
    width: 4rem;
    height: 4rem;
    display: block;
    text-align: center;
    line-height: 4rem;
    border-radius: 5rem;
    border: 1px solid #aaa;
    margin: 0 0.8rem;
}

.social-icon a:hover {
    background-color: #fff;
    color: var(--main-color);
    border: 1px solid var(--main-border);
}